{% extends 'base.html.twig' %}

{% block title %}Edit EtudiantStep3{% endblock %}

{% block body %}
    <h1>Edit EtudiantStep3</h1>

    {{ include('step3/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_step3_index') }}">back to list</a>

    {{ include('step3/_delete_form.html.twig') }}
{% endblock %}
